@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');.logo{
    
}

.logo:hover{
  filter: brightness(50%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, .contacto{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

#header{
    display: flex;
    align-items: center;
    padding: 0px 5%;
    justify-content: space-between;
    background-color:white;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
}

.logo{
    cursor: pointer;
    width: 8%;
    margin: 5px;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  text-align: center;
  padding: 20px;
}

.nav-menu a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  color: #034099;

}

.nav-menu a:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #034099;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-menu a:hover:after {
  transform: scaleX(1);
}

.links{
  width: 70%;
}

.registro{
  width: 25%;
  margin-left: 50px;
}

.registro button{
  padding: 10px;
  margin-left: 10px;
}

.search {
  display: flex;
  align-items: center;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: solid rgb(94, 94, 94) 1px;
  color: black;
  padding: 9px 25px;
  border-radius: 30px;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
  width: 200px;
  height: 35px;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: rgb(149, 149, 149);
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.divfoto{
  width: 50%;
  margin-left: 10%;
  padding-top: 100px;
}

.foto{
  width: 80%;
  margin-left: 10%;
  margin: 5%;
}

.divtitulo{
  margin-right: 10%;
  width: 50%;
  padding-top: 100px;
}

#seccion {
  display: flex;
  align-items: center;
  background-image:url(https://www.zrthemes.com/2022/idealsoft/assets/images/hero-bg.png);
  background-size: cover;
  color: white;
  height: 750px;
  margin-top: -150px;
}

.cssbuttons-io-button {
  background: #cfb138;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  margin-top: 15px;
  cursor: pointer;
 }
 
.cssbuttons-io-button a{
  color: white;
}

 .cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
  cursor: pointer;
 }
 
 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
 }
 
 .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #cfb138;
 }
 
 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
 }
 
 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }
 

.seccion2{
  display: flex;
  transition: all 500ms ease-out;
      -webkit-transition: all 500ms ease-out;
}

.div1{
  display: flex;
  padding: 10px;
  background-color: #034099;
  border-radius: 10px;
  margin: 5% 5%;
  color: white;
  padding: 25px;
  font-family: 'Poppins';
}

.div1 div h2{
  font-size: 27px;
}

.div1 div p{
  font-size: 16px;
}

.estrella{
  font-size: 50px;
  padding-right: 20px;
}

.div2{
  display: flex;
  padding: 25px;
  background-color: #034099;
  border-radius: 10px;
  margin: 5% 5%;
  color: white;padding: 10px;
  padding: 35px 30px;
  font-family: 'Poppins'; 
}

.laptop{
  font-size: 50px;
  padding-right: 20px;
}


.seccion {
  opacity: 0;
  transition: opacity 1s;
}

.servicios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servicios div{
  text-align: center;
  margin: 30px;
  border: solid black;
  width: 20%;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}

.servicios div:hover{
  background-color: #034099;
  color: white;
}

.servicios div p{
  padding: 10px;
}


@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

.button {
  display: inline-block;
  padding: 1em;
  background-color: #79BD9A;
  text-decoration: none;
  color: white;
}

.servicios i{
  font-size: 35px;
  padding: 10px;
}




































.footer {
  padding:50px 0;
  background-color:rgb(59, 59, 59);
  color:white;
  justify-content: center;
  margin-top: 50px;
}
  
.footer h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}
  
.footer ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}
  
.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}
  
.footer ul a:hover {
    opacity:1;
}
  
.footer .item.social {
    text-align:right;
}
  
  
  
@media (max-width: 768px) {
  .footer-clean .item.social {
      text-align:center;
  }
}
  
.footer .item.social > a {
  font-size:25px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  opacity:0.75;
  margin-top: 30px;
}
  
.footer .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

.container{
  margin:0 auto;
}

 
.columna{
  display:flex;
  flex-wrap:wrap;
}

.col-md-3{
  flex:0 0 25%;
}

.centro{
  justify-content:center
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: white;
  transition: 0.2s;
}

.fa-facebook:hover {
  color: white;
  filter: brightness(70%);
}

.fa-twitter {
  color: white;
  transition: 0.2s;
}

.fa-twitter:hover {
  color: white;
  filter: brightness(70%);
}

.fa-tiktok {
  color: white;
  transition: 0.2s;
}

.fa-tiktok:hover {
  color: white;
  filter: brightness(70%);
}

.fa-instagram {
  color: white;
  transition: 0.2s;
}

.fa-instagram:hover {
  color: white;
  filter: brightness(70%);
}