@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-family: 'Poppins';
}

.logo:hover{
  filter: brightness(50%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, .contacto{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    padding-left: 2%;
    justify-content: space-between;
    background-color:white;
}

.logo{
    cursor: pointer;
    width: 8%;
    margin: 5px;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  text-align: center;
  padding: 20px;
}

.nav-menu a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  color: #034099;
}

a:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.links{
  width: 80%;
  margin-left: 30px;
}

.registro{
  width: 25%;
  margin-right: 50px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
}



.search {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 60px;

}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: solid rgb(94, 94, 94) 1px;
  color: black;
  padding: 9px 25px;
  border-radius: 30px;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
  width: 200px;
  height: 35px;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: rgb(149, 149, 149);
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.registro{
  width: 30%;
  margin-right: 50px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
}

.registro button{
  padding: 10px;
  background-color: #0066CC;
  margin-left: 10px;
  color: white;
  border: solid #0066cc 2px;
  cursor: pointer;
  transition : 234ms;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.registro button:hover{
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}

.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    justify-content: center;
}


.servicio {
	transition: .3s;
	padding: 40px;
    border-radius: 15px;
	text-align: center;
	margin-top: 40px;
	background: #e8e8e8;
	box-shadow: 0 10px 40px 0 rgb(50 50 50 / 10%);
    margin: 30px;
}

.servicio:hover .contenido-servicio h5 {
	color: #003980;
}
.icono-servicio {
	position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #0066CC;
    font-size: 40px;
    background: #fff;
    box-sizing: content-box;
    border-radius: 50%;
    color: #0066CC;
    margin: auto;
	margin-bottom: 30px;
}
.icono-servicio i{
	position: absolute;
	left: 23px;
	top: 30px;
	width: 55px;
}
.servicio:hover .signle-service-dot:first-child {
	-webkit-animation-play-state: running;
	animation-play-state: running;
} 
.signle-service-dot:first-child {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation: dot-animation 2s linear infinite;
	animation: dot-animation 2s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
@-webkit-keyframes dot-animation {
 0% {
 -webkit-transform:rotate(0deg);
 transform:rotate(0deg)
}
 to {
 -webkit-transform:rotate(1turn);
 transform:rotate(1turn)
}
}
 @keyframes dot-animation {
 0% {
 -webkit-transform:rotate(0deg);
 transform:rotate(0deg)
}
 to {
 -webkit-transform:rotate(1turn);
 transform:rotate(1turn)
}
}
.icono-servicio  .signle-service-dot {
	width: 100%;
	height: 100%;
	left: 56%;
	top: 8%;
}
.icono-servicio  .dots {
	width: 15px;
	height: 15px;
	background: #0066cc;
	border-radius: 50%;
	left: 14px;
	top: 0;
	position: relative;
}

.contenido-servicio h5 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	transition: .3s;
}
.contenido-servicio p {
	margin-bottom: 0px;
}





































.footer {
    padding:50px 0;
    background-color:rgb(59, 59, 59);
    color:white;
    justify-content: center;
    margin-top: 50px;
  }
    
  .footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
    
  .footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
    
  .footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
    
  .footer ul a:hover {
      opacity:1;
  }
    
  .footer .item.social {
      text-align:right;
  }
    
    
    
  @media (max-width: 768px) {
    .footer-clean .item.social {
        text-align:center;
    }
  }
    
  .footer .item.social > a {
    font-size:25px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    opacity:0.75;
    margin-top: 30px;
  }
    
  .footer .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
  .container{
    margin:0 auto;
  }
  
   
  .columna{
    display:flex;
    flex-wrap:wrap;
  }
  
  .col-md-3{
    flex:0 0 25%;
  }
  
  .centro{
    justify-content:center
  }
  
  .fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa-facebook {
    color: white;
    transition: 0.2s;
  }
  
  .fa-facebook:hover {
    color: white;
    filter: brightness(70%);
  }
  
  .fa-twitter {
    color: white;
    transition: 0.2s;
  }
  
  .fa-twitter:hover {
    color: white;
    filter: brightness(70%);
  }
  
  .fa-tiktok {
    color: white;
    transition: 0.2s;
  }
  
  .fa-tiktok:hover {
    color: white;
    filter: brightness(70%);
  }
  
  .fa-instagram {
    color: white;
    transition: 0.2s;
  }
  
  .fa-instagram:hover {
    color: white;
    filter: brightness(70%);
  }